{
	"extends": [
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"root": true,
	"plugins": ["@typescript-eslint"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "vars": "all", "args": "none", "ignoreRestSiblings": false }
		],

		"no-undef": ["error"],
		"@typescript-eslint/explicit-function-return-type": 0,
		"@typescript-eslint/no-this-alias": 0,
		"@typescript-eslint/no-explicit-any": 0
	},
	"globals": {
		"document": "readonly",
		"ResizeObserver": "readonly",
		"MutationObserver": "readonly",
		"clearInterval": "readonly",
		"setInterval": "readonly",
		"setTimeout": "readonly",
		"clearTimeout": "readonly",
		"localStorage": "readonly",
		"KeyboardEvent": "readonly",
		"Event": "readonly",
		"PointerEvent": "readonly",
		"window": "readonly",
		"console": "readonly",
		"process": "readonly",
		"navigator": "readonly",
		"WebSocket": "readonly"
	}
}
